{
  "root": true,
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "ignorePatterns": ["dist"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "files": ["*.astro"],
      "extends": "plugin:astro/recommended",
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        "astro/no-set-html-directive": "error"
      }
    },
    {
      "files": ["*.js"],
      "extends": "standard"
    },
    {
      "files": ["*.ts"],
      "extends": "standard-with-typescript",
      "rules": {
        "@typescript-eslint/triple-slash-reference": "off"
      }
    }
  ]
}