---
import Container from '@/components/Container.astro'
import Icon from '@/components/Icon.astro'
import Title from '@/components/Title.astro'
import Text from '@/components/Text.astro'
import BlogPost from '@/components/BlogPost.astro'

const many = [1, 2, 3, 4, 5, 6]
---

<style>
  .postsScroll {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .postsScroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
</style>

<div>
  <Container center>
    <Title class="text-4xl">Get to know more</Title>
    <Text class="text-lg text-slate-600">Learn how to grow your business with our expert advice.</Text>
  </Container>

  <div class="postsScroll relative right-0 mt-8 flex w-screen justify-between gap-8 overflow-x-scroll">
    {
      many.map(() => (
        <BlogPost
          title="lorem ipsum"
          date="2013 May, 21"
          description="Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta."
        />
      ))
    }
  </div>
  <div class="mt-8 flex justify-end gap-4 text-lg">
    <button as="cta" class="scroller rotate-180">
      <Icon name="chevron" size={26} />
    </button>
    <button as="cta scroller"> <Icon name="chevron" size={26} /> </button>
  </div>
</div>
