---
import Container from '@/components/Container.astro'
import Title from '@/components/Title.astro'
import Text from '@/components/Text.astro'
import BlogPost from '@/components/BlogPost.astro'
---

<Container class="mt-52">
  <Title class="text-4xl">Get to know more</Title>
  <Text class="text-lg text-slate-600">Learn how to grow your business with our expert advice.</Text>

  <div class="mt-8 flex flex-wrap justify-between gap-8">
    <BlogPost
      title="lorem ipsum"
      date="2013 May, 21"
      description="Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta."
    />

    <BlogPost
      title="lorem ipsum"
      date="2013 May, 21"
      description="Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta."
    />
    <BlogPost
      title="lorem ipsum"
      date="2013 May, 21"
      description="Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta."
    />

    <BlogPost
      title="lorem ipsum"
      date="2013 May, 21"
      description="Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta."
    />

    <BlogPost
      title="lorem ipsum"
      date="2013 May, 21"
      description="Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta."
    />

    <BlogPost
      title="lorem ipsum"
      date="2013 May, 21"
      description="Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta."
    />
  </div>
</Container>
