---
import Container from '@/components/Container.astro'
import Icon from '@/components/Icon.astro'
import Link from '@/components/Link.astro'
import Text from '@/components/Text.astro'

const footerIconsLinks = [
  {
    url: '#',
    icon: 'facebook'
  },
  {
    url: '#',
    icon: 'x'
  },
  {
    url: '#',
    icon: 'linkedin'
  },
  {
    url: '#',
    icon: 'github'
  }
]

const footerListLinks = [
  {
    title: 'products',
    url: '#'
  },
  {
    title: 'Company',
    url: '#'
  },
  {
    title: 'legal',
    url: '#'
  },
  {
    title: 'support',
    url: '#'
  }
]
---

<Container as="footer" class="flex flex-col items-center space-y-11 pb-3">
  <ul class="flex flex-row items-center gap-16">
    {
      footerListLinks.map((link) => (
        <li>
          <Link class="text-sm text-slate-700" href={link.url}>
            {link.title}
          </Link>
        </li>
      ))
    }
  </ul>

  <ul class="flex gap-12">
    {
      footerIconsLinks.map((link) => (
        <li>
          <Link href={link.url}>
            <Icon name={link.icon} size={20} class="text-slate-700" />
          </Link>
        </li>
      ))
    }
  </ul>
  <Text class="text-sm font-normal capitalize leading-normal text-slate-500">
    © 2020 Your Company, Inc. All rights reserved.
  </Text>
</Container>
