---
import Container from '@/components/Container.astro'
import MarketProduct from '@/components/MarketProduct.astro'
---

<Container as="section" id="marketplace" class="mt-52 flex flex-col items-stretch px-8 pb-5 pt-2.5 max-md:px-5">
  <div class="self-center whitespace-nowrap text-4xl font-semibold text-gray-900">Checkout our products</div>

  <div class="mt-10 grid grid-cols-3 items-center justify-center gap-8">
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />

    <!-- row -->
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />

    <!-- row -->
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />
  </div>
</Container>
