---
import Container from '@/components/Container.astro'
import MarketProduct from '@/components/MarketProduct.astro'
---

<Container as="section" id="marketplace" class="flex flex-col items-start pb-5 pt-2.5">
  <div class="self-center text-4xl font-semibold text-gray-900">Checkout our products</div>

  <div class="mt-10 grid w-full items-start justify-stretch gap-8 md:grid-cols-2 lg:items-center xl:grid-cols-3">
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />

    <!-- row -->
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />
    <MarketProduct title="something" description="mewhen" />
  </div>
</Container>
