---
import Container from '@/components/Container.astro'
import TeamProfile from '@/components/TeamProfile.astro'
import Text from '@/components/Text.astro'
import Title from '@/components/Title.astro'

const arrProfiles = [0, 1, 2, 3, 4, 5, 6, 7, 8]
---

<Container center class="my-4 mt-52 flex gap-8 px-8">
  <div class="w-1/3">
    <Title class="text-4xl font-semibold leading-normal">OurTeam</Title>
    <Text class="text-lg font-normal leading-normal text-slate-600">
      Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae elementum enim vitae ullamcorper suspendisse.
    </Text>
  </div>
  <div class="grid w-3/4 grid-flow-row grid-cols-3 gap-x-8 gap-y-11">
    {
      arrProfiles.map(() => (
        <TeamProfile
          title="yigs"
          subtitle="co-founder"
          imageSrc="https://avatars.githubusercontent.com/u/55502763?v=4"
        />
      ))
    }
  </div>
</Container>
