---
import type { IconName } from 'virtual:icon'

import Icon from '@/components/Icon.astro'
import Layout from '@/layouts/Layout.astro'
import services from '@/data/services.json'
import Image from '@/components/Image.astro'
import Input from '@/components/Input.astro'
import Button from '@/components/Button.astro'
import Container from '@/components/Container.astro'
import ServiceCard from '@/components/ServiceCard.astro'
---

<Layout title="NutriaSoft">
  <Container as="section" class="grid-cols-2 items-center pt-12 md:grid md:pt-32 lg:grid-cols-[1.25fr_1fr]">
    <article class="flex flex-col gap-y-8 text-center md:text-left">
      <h1 class="mx-auto max-w-lg text-pretty text-4xl font-semibold leading-tight md:mx-0">
        We Make Your <span class="relative">
          Software
          <Icon name="short-underline" class="absolute -left-2 top-4 -z-10 w-44 text-primary" />
        </span>With
        <span class="relative">
          The Best Technologies
          <Icon name="long-underline" class="absolute -left-2 top-4 -z-10 hidden w-[424px] text-primary lg:block" />
        </span>
      </h1>
      <p class="text-balance text-base text-slate-600">
        We specialize in creating software solutions according to your needs, we manage from Infrastructure Solutions,
        to Web and Mobile Application Development from start to finish.
      </p>
      <div class="flex flex-col gap-3 sm:flex-row">
        <Input id="client-email" placeholder="contactme@mail.com" required />
        <Button id="we-contact-you" variant="compact" label="We contact you" class="min-w-40" />
      </div>
    </article>
    <Image alt="Nutrialez" width={440} height={276} src="/images/otter.svg" />
  </Container>

  <Container as="section" class="flex gap-x-6 overflow-x-auto md:pt-44 lg:justify-between lg:gap-x-0">
    {
      services.data.map(({ content, icon, link, title }) => (
        <ServiceCard {content} icon={icon as IconName} {link} {title} />
      ))
    }
  </Container>
</Layout>
