---
import Layout from '@/layouts/Layout.astro'
import Title from '@/components/Title.astro'
import Subtitle from '@/components/Subtitle.astro'
import Text from '@/components/Text.astro'
import Link from '@/components/Link.astro'
---

<Layout title="NutriaSoft">
  <main>
    <Title>Get to know the best version of your company</Title>
    <Subtitle>Efficiency Unleashed, Tools Unmatched</Subtitle>
    <Text>We use design as our vessel to empower brands committed to environmental causes.</Text>
    <Text small>Making the world a better place throught creating better interfaces</Text>
    <Link styled to="/">Get to know us more</Link>
  </main>
</Layout>
