---
import Testimonials from '@/components/Testimonials.astro'
import Services from '@/components/Services.astro'
import Brand1 from '@/components/Brand-1.astro'
// import Brand2 from '@/components/Brand-2.astro'
// import Brand3 from '@/components/Brand-3.astro'
import Header from '@/components/Headers.astro'
import Banner from '@/components/Banner.astro'
import Footer from '@/components/Footer.astro'
import Stats from '@/components/Stats.astro'
import Logos from '@/components/Logos.astro'
import Layout from '@/layouts/Layout.astro'
import Team from '@/components/Team.astro'
---

<Layout>
  <Header />
  <main class="bg-white/75 dark:bg-black/75">
    <Banner />
    <Services />
    <Stats />
    <Logos />
    <Brand1 />
    <Brand1 />
    <Brand1 />
    <!-- <Brand2 />
    <Brand3 /> -->
    <Testimonials />
    <Team />
  </main>
  <Footer />
</Layout>
