---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/pages/_sections/Hero.astro'
import Aboutus from '@/pages/_sections/Aboutus.astro'
import Product from '@/pages/_sections/Product.astro'
import Marketplace from '@/pages/_sections/Marketplace.astro'
import Blog from '@/pages/_sections/Blog.astro'
import Team from '@/pages/_sections/Team.astro'
import Footer from '@/pages/_sections/Footer.astro'
---

<Layout title="NutriaSoft">
  <div class="flex flex-col gap-40 px-6 md:px-14">
    <Hero />
    <Aboutus />
    <Product />
    <Marketplace />
    <Team />
    <Blog />
    <Footer />
  </div>
</Layout>
