---
import Icon from '@/components/Icon.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="NutriaSoft">
  <section
    class="mx-auto max-w-screen-lg grid-cols-2 items-center px-4 pt-12 md:grid md:pt-32 lg:grid-cols-[1.25fr_1fr]"
  >
    <article class="flex flex-col gap-y-8 text-center md:text-left">
      <h1 class="text-pretty text-4xl font-semibold leading-tight">
        We Make Your <span class="relative">
          Software
          <Icon name="short-underline" class="absolute -left-2 top-4 -z-10 w-44 text-primary" />
        </span> With
        <span class="relative">
          The Best Technologies
          <Icon name="long-underline" class="absolute -left-2 top-4 -z-10 w-[424px] text-primary" />
        </span>
      </h1>
      <p class="text-balance text-base text-slate-600">
        We specialize in creating software solutions according to your needs, we manage from Infrastructure Solutions,
        to Web and Mobile Application Development from start to finish.
      </p>
      <div class="flex flex-col gap-3 sm:flex-row">
        <input
          required
          type="text"
          placeholder="contactme@mail.com"
          class="h-max w-full rounded-lg border border-slate-500 p-2 placeholder:text-slate-500 lg:w-max"
        />
        <button class="min-w-40 rounded-md bg-black px-5 py-2 text-base font-medium text-white">We contact you</button>
      </div>
    </article>
    <img src="/images/otter.svg" alt="Nutrialez" />
  </section>
</Layout>
