---
import Text from '@/components/Text.astro'
import Title from '@/components/Title.astro'

interface Props {
  date: string
  title: string
  description: string
}

const { date, title, description } = Astro.props
---

<div class="flex min-w-[300px] max-w-[30%] flex-col text-black">
  <div class="flex min-h-[111px] w-full flex-col rounded-2xl bg-slate-400"></div>
  <Text class="mt-4 w-full text-xs">
    {date}
  </Text>
  <Title class="mt-4 text-lg font-semibold">
    {title}
  </Title>
  <Text class="justify-center text-ellipsis text-sm leading-5 text-slate-600">
    {description}
  </Text>
</div>
