---

import Text from "./Text.astro"

interface Props {
  title:string,
  label:string,
  img:string
}

const {img, label, title} = Astro.props

---


<div class="bg-sky-600 flex aspect-square gap-8 w-full flex-col items-start justify-start rounded-3xl px-9 py-5 text-white overflow-hidden">
  
  <div>
    <Text>{label}</Text>
    <Text class="text-4xl font-semibold leading-none">{title}</Text>
  </div>

  <img src={img} alt={title}>
</div>
