---
import type { HTMLAttributes } from 'astro/types'
import Title from '@/components/Title.astro'
import Text from '@/components/Text.astro'

interface Props extends HTMLAttributes<'div'> {
  title: string
  label: string
}

const { title, label, class: ExtraClass } = Astro.props
---

<div class:list={['flex flex-col gap-8', ExtraClass]}>
  <div>
    <Title class="text-xl">{title}</Title>
    <Text>{label}</Text>
  </div>

  <div class="flex h-full flex-col justify-center bg-white text-center">
    <slot />
  </div>
</div>
