---
import Text from './Text.astro'

interface Props {
  title: string
  label: string
  img: string
}

const { img, label, title } = Astro.props
---

<article
  class="flex aspect-[9/16] w-[80%] min-w-[250px] max-w-[310px] flex-col items-start justify-start gap-8 overflow-hidden rounded-3xl bg-primary px-4 py-5 text-white sm:px-9 lg:aspect-square lg:min-w-px"
>
  <div>
    <Text as="span">{label}</Text>
    <Text as="strong" class="text-balance font-titan text-3xl font-normal capitalize leading-none">{title}</Text>
  </div>

  <img src={img} alt={title} />
</article>
