---
import { Icon } from 'astro-icon/components'
---

<footer
  class="bg-gradient-to-t from-white to-white/75 p-4 dark:bg-gradient-to-t dark:from-black dark:to-black/75 md:p-8 lg:p-10"
>
  <div class="mx-auto max-w-screen-xl text-center">
    <a class="flex items-center justify-center gap-2">
      <Icon class="size-10 rounded-full bg-white" name="nsLogo" />
      <span class="font-WorkSans-Bold text-xl dark:invert">NutriaSoft</span>
    </a>
    <ul class="my-6 flex flex-wrap items-center justify-center font-Inter-Regular text-black dark:invert">
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Services</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Products</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">About us</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
      </li>
    </ul>
    <span class="text-sm text-gray-400 dark:text-gray-400 sm:text-center">
      © 2021-2024
      <a href="#" class="hover:underline">Nutriasoft™</a>. All Rights Reserved.
    </span>
  </div>
</footer>
