---
import type { IconName } from 'virtual:icon'

import socials from '@/data/socials.json'
import Link from '@/components/Link.astro'
import Icon from '@/components/Icon.astro'
import navigation from '@/data/navigation.json'
import Container from '@/components/Container.astro'
---

<Container unlimited as="footer" class="py-16">
  <Container class="grid justify-items-center gap-y-12">
    <nav>
      <ul class="grid gap-x-14 gap-y-5 text-sm font-light text-slate-700 sm:flex">
        {
          navigation.data.map(({ link, title }) => (
            <li class="hover:underline">
              <Link to={link}>{title}</Link>
            </li>
          ))
        }
      </ul>
    </nav>
    <nav>
      <ul class="flex gap-x-12 text-sm font-semibold text-slate-400">
        {
          socials.data.map(({ icon, link, title }) => (
            <li>
              <Link external to={link} {title}>
                <Icon name={icon as IconName} size={20} />
              </Link>
            </li>
          ))
        }
      </ul>
    </nav>
  </Container>
</Container>
