---
import Icon from '@/components/Icon.astro'
import Container from '@/components/Container.astro'
---

<header class="py-6">
  <Container center as="nav" class="flex justify-between">
    <div class="gap-x-3 md:flex">
      <Icon name="logo" size={40} />
      <span class="hidden text-[1.625rem] font-bold lg:block">NutriaSoft</span>
    </div>
    <Icon name="hamburguer" size={40} class="md:hidden" />
    <ul class="hidden cursor-pointer md:flex md:gap-x-7">
      <li class="self-center hover:text-primary">Mobile apps</li>
      <li class="self-center hover:text-primary">Web app</li>
      <li class="self-center hover:text-primary">Websites</li>
      <li class="self-center hover:text-primary">What you get</li>
      <li class="self-center hover:text-primary">Pricing</li>
      <li class="self-center hover:text-primary">FAQ</li>
    </ul>
  </Container>
</header>
