---
import type { HTMLAttributes } from 'astro/types'

import Text from '@/components/Text.astro'

interface Props extends HTMLAttributes<'a'> {
  external?: boolean
  icon?: boolean
}

const { href, external = false, class: extraClass } = Astro.props
const rel = external ? 'noopener noreferrer' : undefined
const target = external ? '_blank' : undefined
---

<a href={href} rel={rel} target={target} class:list={[extraClass]}>
  <Text>
    <slot />
  </Text>
</a>
