---
import Text from '@/components/Text.astro'
import Title from '@/components/Title.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<div
  class="flex w-full flex-col items-start justify-center rounded-xl border-2 border-solid border-[color:var(--slate-300,#CBD5E1)] px-3.5 py-6"
>
  <div class="flex aspect-square h-[46px] flex-col rounded-xl bg-slate-400"></div>
  <Title class="mt-3 text-2xl font-semibold text-slate-900">{title}</Title>
  <Text class="self-stretch text-sm text-slate-800">{description}</Text>
</div>
