---
import Icon from '@/components/Icon.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
---

<Container as="nav" center class="flex w-full items-center justify-between px-8 py-3">
  <Icon name="logo" size={45} />

  <!-- links -->
  <div class="hidden items-center justify-start gap-6 self-stretch text-sm font-semibold text-black md:flex">
    <Link href={'#products'}>Product</Link>
    <Link href={'#marketplace'}>Marketplace</Link>
    <Link href={'#team'}>Team</Link>
    <Link href={'#about'}>About us</Link>
  </div>

  <!-- language selector -->
  <div class="hidden items-center justify-start gap-3 text-sm font-semibold text-gray-600 md:flex">
    <p class="text-black">EN</p>
    <p>ES</p>
    <p>PT</p>
  </div>
  <Icon name="chevron" class={'flex md:hidden'} />
</Container>
