---
import Icon from '@/components/Icon.astro'
import Link from '@/components/Link.astro'
import Container from '@/components/Container.astro'
---

<header class="sticky top-0 z-30 w-full bg-white py-6">
  <Container class="flex items-center justify-between">
    <Icon name="logotype" width={158} height={42} />
    <nav class="hidden gap-x-6 text-sm font-semibold md:flex">
      <Link to="#">Services</Link>
      <Link to="#">Products</Link>
      <Link to="#">About us</Link>
      <Link to="#">Contact</Link>
    </nav>
    <Link to="#" class="btn btn-large flex items-center gap-x-2 text-xs font-semibold">
      Contact us
      <Icon name="arrow" width={22} height={8} />
    </Link>
  </Container>
</header>
