---
import Navbar from '@/components/Navbar.astro'
import Seo from '@/components/Seo.astro'
import '@/styles/app.css'

interface Props {
  title: string
  description?: string
}

const { title, description = 'NutriaSoft Landing Page' } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-pt-20 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <Seo title={title} description={description} />

    <script src="$/declareRefs.ts"></script>
    <script src="$/contactEmailAction.ts"></script>
    <script src="$/events.ts"></script>
  </head>

  <body class="font-inter min-h-screen text-black">
    <Navbar />
    <slot />
    <wc-toast position="top-center"></wc-toast>
  </body>
</html>
