---
interface Props {
  title: string
  description?: string
}

const { title, description = 'NutriaSoft Landing Page' } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta name="theme-color" content="#1F1F1F" />
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />

    <style>
      @font-face {
        font-family: 'Inter';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('/fonts/inter-400.woff2') format('woff2');
      }
      @font-face {
        font-family: 'Inter';
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url('/fonts/inter-500.woff2') format('woff2');
      }
      @font-face {
        font-family: 'Inter';
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url('/fonts/inter-600.woff2') format('woff2');
      }
    </style>
  </head>

  <body class="min-h-screen bg-white font-inter text-black">
    <slot />
  </body>
</html>
